
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: crimson;
    color: #fffffffa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif
    ;
    
     
  }
 section {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px; 
  }
  @media only screen and (max-width: 767px) {
    section {
      padding: 10px; /
    }
  }
  header {
    background-color: red; 
    padding: 10px;
    text-align: center;
     
  }
  
  header:hover, nav:hover {
    background-color: violet; 
  }
  
  nav {
    background-color: blueviolet  ; 
    padding: 10px;
  }
  
  img {
    display:block;
    width: 500px ;
    height: 300px;
    margin: 0 auto;
    padding: 20px;;    
  }
  

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    
  }
  
  nav a:hover {
    color: red
  }
  
  .main-content {
    padding: 20px;
    border: 1px solid blueviolet; 
    border-radius: 10px; 
  }
 
  h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 20px; 
    padding-right: 20px;
  }
  .custom-iframe {
    width: 500px;
    height: 400px;
  }
  
@media screen and (max-width: 900px) {
  .custom-iframe {
    width: 80%; 
    height: auto; 
    
  }
}

  